body{
    background-color: #16425B;
    padding: 5px 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

footer{
    color: white;
    background-color: #3A7CA5;
    padding: 10px;
    margin: 0px;

}

/* Class CSS */
.container{
    background-color: #3A7CA5;
    border-width: 5px;
    margin: 50px 100px 50px 100px;
    padding: 25px;
    color: aliceblue;
}

.container img{
    width: 500px;
}

.header{
    background-color: #3A7CA5;
    padding: 25px;
    height: 100px;
    margin-bottom: 50px;
}

.navbar{
    margin: 10px 0px 10px 250px;
}

.navbar a{
    padding: 8px 32px;
    margin: 5px 100px;
    background-color: #3A7CA5;
    cursor: pointer;
    color: aliceblue;
    border-radius:  10px;
}

.registeration_grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

/* ID CSS*/
#title{
    color: aliceblue;
    margin: 20px 5px 5px 5px;
    font-size: 50px;
    float: right;
}

#uowlogo{
    height: 75px;
    margin: 10px;
    float: left;
}

#clublogo{
    height: 75px;
    margin: 10px;
    float: left;
}

#link_active{
    padding: 8px 32px;
    margin: 5px 100px;
    background-color: #3A7CA5;
    cursor: pointer;
    color: #16425B;
    border-radius:  10px;
}
