body{
    background-color: #16425B;
    padding: 5px, 50px, 5px, 50px;
}

.container{
    background-color: #3A7CA5;
    border-color: #3A7CA5;
    border-width: 5px;
    margin: 50px 100px 50px 100px;
    padding: 25px;
    color: aliceblue;
}

.header{
    background-color: #3A7CA5;
    padding: 25px;
    height: 100px;
    margin-bottom: 50px;
}

.navbar{
    margin: 10px 0px 10px 250px;
}

#title{
    color: aliceblue;
    margin: 20px 5px 5px 5px;
    font-size: 50px;
    float: right;
}

#logo{
    height: 75px;
    margin: 10px;
    float: left;
}

#link_inactive{
    padding: 8px 32px;
    margin: 5px 100px;
    background-color: #3A7CA5;
    cursor: pointer;
    color: aliceblue;
    border-radius:  10px;
}

#link_active{
    padding: 8px 32px;
    margin: 5px 100px;
    background-color: #3A7CA5;
    cursor: pointer;
    color: #16425B;
    border-radius:  10px;
}
